.authContainer {
  background-color: var(--light-bg-dark);
  --curve-radius: calc(var(--header-border-radius) + 0.25rem);
  border-radius: var(--curve-radius);
  color: var(--light-bg-text);
  display: grid;
  margin-top: calc(var(--header-height) + 0.5rem);
  padding: 1.5rem;
  place-items: center;
  width: 100%;

  @media (min-width: 480px) {
    padding: 4rem 1.5rem;
  }
}

.authCard {
  border-radius: 1.5rem;
  width: 100%;

  @media (min-width: 480px) {
    background-color: var(--light-bg);
    border: solid 1px var(--light-bg);
    box-shadow: var(--shadow-l);
    padding: 1.5rem;
    width: 425px;
  }

  @media (min-width: 768px) {
    &.wide {
      width: 500px;
    }
  }
}

.authTitle {
  margin-bottom: 1rem;
}

.authErrorCard {
  background-color: var(--red-90);
  border-radius: 8px;
  border: solid 1px var(--red-30);
  color: var(--red-30);
  gap: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.errorTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.errorMessage {
  font-size: 0.875rem;
  margin-left: 1.5rem;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.authOptions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1.5rem;
}

.authOption {
  color: var(--light-bg-text-muted);
  font-size: 0.875rem;
  font-weight: 600;
}

.authOptionLink {
  text-decoration: underline;
  transition: color 0.2s ease;
  &:hover {
    color: var(--blue);
  }
}

.authTextGroup {
  margin-bottom: 1.5rem;
}

.authText {
  color: var(--light-bg-text-muted);
}
